@import '~styles/mixins';
@import '~styles/variables';

.root {
  @include section;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
  text-align: center;
  margin-top: -20px;
}

.button {
  border-radius: 200px;
  padding: 12px 20px;
  font-weight: 400;
  margin: 15px;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid $accent;
  background: #fff;
  color: $accent;
  width: 150px;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: $accent;
  }
}

.person {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 0;
  }
}

.image {
  margin-right: 60px;
}

.info {
  width: 430px;
}

.name {
  color: #555555;
  //color: #9898AE;
  font-weight: 100;
  font-size: 27px;
  margin-bottom: 5px;
}

.position {
  color: #999999;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 19px;
}

.description {
  color: #555555;
  font-weight: 100;
  font-size: 18px;
  line-height: 25px;
}
