@import '~styles/mixins';
@import '~styles/variables';

.root {
  @include section;
  background-color: #fff;
  text-align: center;
  width: 700px;

  h3 {
    margin: 0 0 26px;
  }

  p {
    margin-bottom: 90px;
    color: #73787c;
    line-height: 32px;
  }
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0;

  svg {
    fill: $accent;
  }

  .chatHint {
    color: #939C9F;
    font-weight: 200;
    margin: 0 50px 0 20px;
  }

  .chatButton {
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid $accent;
    background: #fff;
    color: $accent;

    &:hover {
      color: #fff;
      background: $accent;
    }
  }
}
