/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors'
@import './variables/components'
@import './themes/default'
*/

/** Thin */
@font-face {
  font-family: "San Francisco Fallback";
  font-weight: 200;
  src: url("fonts/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco Fallback";
  font-weight: normal;
  src: url("fonts/sanfranciscodisplay-regular-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco Fallback";
  font-weight: 500;
  src: url("fonts/sanfranciscodisplay-semibold-webfont.woff");
}

