body {
  background-color: #ffffff;
  margin: 0px;
}

a:link {
  color:#a1a1a1;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: 300;
}

a:visited {
  color: #a1a1a1;
}

a:hover {
  color: #414141;
}

.container {
}
