:global {
  @import '~normalize.css';
  @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500);

  * {
    box-sizing: border-box;
  }

  body {
    background-color: #ffffff;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #596062;
  }

  a {
    text-decoration: none;
  }
}
