@import '~styles/mixins';
@import '~styles/variables';

.root {
  @include section;
  padding-bottom: 20px;
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.feature {
  width: 320px;
  margin-bottom: 80px;
}

.featureIcon {
  display: flex;
  justify-content: center;

  svg {
    fill: $accent;
  }
}

.featureTitle {
  font-size: 24px;
  text-align: center;
  margin: 49px 0 7px;
}

.featureDescription {
  font-size: 14px;
  text-align: center;
  line-height: 25px;

  a {
    color: $accent;
    font-weight: 400;

    &:hover {
      border-bottom: 1px solid $accent;
    }
  }
}
