@import '~styles/mixins';
@import '~styles/variables';

.root {
  @include section;
  background-color: #ffffff;
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature {
  width: 320px;
  margin-bottom: 64px;
}

.featureIcon {
  text-align: center;

  svg {
    fill: #36ad64;
  }
}

.featureTitle {
  font-size: 24px;
  color: #596062;
  text-align: center;
  margin: 49px 0 7px;
}

.featureDescription {
  font-size: 14px;
  color: #596062;
  text-align: center;
  line-height: 25px;

  a {
    color: $accent;
    font-weight: 500;
  }
}
