.featuretitle1 {
  font-size: 24px;
  color: #596062;
  text-align: center;
  position: relative;
  top: 10px
}

.featuretitle2 {
  font-size: 15px;
  color: #596062;
  text-align: center;
  position: relative;
  top: 1px;
}

.features {
  background-color: #ffffff;
  height: 700px;
}
.fsvg {
  text-align: center;

  svg {
    fill: #36ad64;
  }
}

.ftitle {
  font-size: 24px;
  color: #596062;
  text-align: center;
}

.fdes {
  font-size: 15px;
  color: #596062;
  text-align: center;
}

.fea {
  width: 33%;
  float: left;
}

.fline1 {
  position: relative;
  top: 40px;
}

.fline2 {
  position: relative;
  top: 110px;
}
