@import '~styles/variables';

.root {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #F4F4F4;
  border-bottom: solid 1px #F4F4F4;
  padding: 40px 0;
  font-weight: 200;

  input {
    border: 1px solid $accent;
    border-right: none;
    padding: 11px 20px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 240px;

    &:focus {
      outline: none;
    }
  }

  strong {
    padding: 0 5px;
  }
}

.description {
  color: #939C9F;
  font-size: 17px;
  white-space: nowrap;
  font-weight: 300;
}

.button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  background-color: $accent;
  text-transform: uppercase;
  border: 1px solid $accent;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: $accent;
  }
}

.field {
  height: 44px;
  width: 280px;
  padding-left: 12px;
  color: grey;
  margin-left: 40px;
  font-weight: 600;
  background-color: #fafafa;
  border: solid 1px #CFD5DE;
}
