@import '~styles/variables';

.root {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #F4F4F4;
  border-bottom: solid 1px #F4F4F4;
  padding: 40px 0;
  font-weight: 200;

  input {
    border: 1px solid $accent;
    border-right: none;
    padding: 11px 20px;
    font-size: 15px;
    font-weight: 400;
    width: 240px;

    &:focus {
      outline: none;
    }

    &.email {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-left: 30px;
    }

    &.invite {
      border-left: 1px solid #d4d4d4;
    }
  }

  strong {
    padding: 0 5px;
  }
}

.description {
  color: #939C9F;
  font-size: 17px;
  white-space: nowrap;
  font-weight: 300;
}

.button {
  border-radius: 5px;
  padding: 12px 20px;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  background-color: $accent;
  border: 1px solid $accent;
  cursor: pointer;
  margin-left: 30px;

  &:hover {
    background: #fff;
    color: $accent;
  }
}
