
.box1 {

}

.border {
  border: solid 1px .36ad64;
  height: 570px;
  width: 270px;
  position: relative;
  top: 10px;
  margin: auto;

}

.box1text {
  position: relative;
  margin-top: -500px;
  top: 10px;
  text-align: center;
}
.timg {
  position: relative;
  margin-top: -40px;
  top: 0px;
}

.t1 {
  font-size: 17px;
  position: relative;
  top: 0px;

}

.t2 {
  font-size: 60px;
  position: relative;
  top: 0px;
  color: .7D878A;
}

.t2 {
  font-size: 60px;
  position: relative;
  top: 10px;
  color: .36ad64;
}

.t3 {
  font-size: 15px;
  position: relative;
  margin-top: -30px;
  top: 10px;
  color: .7D878A;
}

.t4 {
  font-size: 15px;
  position: relative;
  top: 40px;
  line-height: 30px;
  color: .7D878A;
}

.t5 {
  font-size: 15px;
  position: relative;
  top: 100px;
  color: .7D878A;
}
.t6 {
  font-size: 30px;
  position: relative;
  top: 32px;
  color: .36ad64;
}

.t7 {
  font-size: 15px;
  position: relative;
  top: 80px;
  line-height: 30px;
  color: .7D878A;
}

.t8 {
  font-size: 15px;
  position: relative;
  top: 140px;
  color: .7D878A;
}

.box {
  width: 25%;
  float: left;
}
