.pricing

.box {
  border: solid 1px #7d878A;
  width: 300px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.t1 {
  color: #7D878A;
  margin-bottom: 80px;
  font-size: 14px;
}

.t2 {
  color: #7D878A;
  font-size: 60px;
  margin-bottom: -10px;
}

.t3 {
  color: #7D878A;
  margin-bottom: 50px;
}

.t4 {
  color: #7D878A;
  padding-bottom: 20px;
}

.t5 {
  color: #7D878A;
}

.buy {
  border: solid 1px red;
  height: 40px;
  width: 120px;
  display: block;
  text-align: center;
}

.buytext {
  height: 100%;
  width: 100%;
  text-align: center;
}
