@import '~styles/mixins';
@import '~styles/variables';

.root {
  @include section;
  background-color: #ffffff;
}

.table {
  width: 900px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

.sidebar {
  position: absolute;
  left: -190px;
  top: 301px;
  width: 200px;
  text-align: right;

  .line {
    height: 19px;
    font-size: 14px;
    padding-top: 1px;
    margin-bottom: 30px;
    color: #B4B4B4;
    font-weight: 300;
  }
}

.plan {
  width: 170px;
  text-align: center;
  padding: 40px 20px 10px;

  &:nth-child(4) {
    box-shadow: 0 0 0 1px $accent;
    border-radius: 3px;
    background-color: #fcfcfc;
  }

  .icon {
    height: 80px;

    svg {
      fill: #B4B4B4;
    }
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    margin: 25px 0 28px;
  }

  .priceAmount {
    font-size: 32px;
    color: $accent;
    margin-bottom: 6px;
  }

  .priceMonth {
    font-size: 13px;
    color: #B4B4B4;
    margin-bottom: 50px;
    height: 15px;
  }

  .line {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.enterprise {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 0;
}

.description {
  color: #939C9F;
  font-size: 17px;
  white-space: nowrap;
  font-weight: 300;
}

.button {
  border-radius: 5px;
  padding: 12px 20px;
  font-weight: 400;
  margin-left: 30px;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid $accent;
  background: #fff;
  color: $accent;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: $accent;
  }
}
