@import '~styles/variables';

.header {
  background-color: #ffffff;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #E2E5EE;

  a:link {
    color: #a1a1a1;
    text-decoration: none;
    font-weight: 300;
  }

  a:visited {
    color: #a1a1a1;
  }

  a:hover {
    color: #414141;
  }
}

.headerLogo {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 400px;
  margin-right: 20px;
}

.headerLinks {
  width: 300px;
  margin-left: 20px;
  margin-top: 7px;
}

.headerLinks a {
  list-style: none;
  margin-left: 20px;
  white-space: nowrap;
}


.headerSignin {
  border: solid 1px $accent;
  width: 100px;
  height: 36px;
  border-radius: 200px;
  line-height: 2.2;
  margin-left: 20px;
  color: $accent;
}

.headerSignin a:link {
  color: $accent;
}

.headerSignin a:visited {
  color: $accent;
}

.headerSignin a:hover {
  color: #ffffff;
}
.headerSignin:hover {
  border-color: $accent;
  background-color: $accent;
}

.headerSignin a:active {
  color: $accent;
}

.headerSignin:active {
  background-color: #ffffff;
  border-color: $accent;
}

.headerSigninText {
  color: $accent;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 14px;
  white-space: nowrap;
  color: $accent;
  margin-top: 2px;
}

.spacer {
  flex-grow: 1;
}
