.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  padding-top: 30px;
  padding-bottom: 30px;
}

.headerLogo {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 400px;
  margin-right: 20px;
}

.headerLinks {
  width: 300px;
  margin-left: 20px;
  margin-top: 7px;
}

.headerLinks a {
  list-style: none;
  margin-left: 20px;
  white-space: nowrap;
}


.headerSignin {
  border: solid 1px #36ad64;
  width: 100px;
  height: 36px;
  border-radius: 5px;
  line-height: 2.2;
  margin-left: 20px;

}

.headerSigninText {
  color: #36ad64;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 16px;
  white-space: nowrap;
}

.spacer {
  flex-grow: 1;
}
