@import '~styles/variables';

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #E2E5EE;

  a:link {
    color: $softlink;
    text-decoration: none;
    font-weight: 300;
  }

  a:visited {
    color: $softlink;
  }

  a:hover {
    color: #414141;
  }
}

.headerLogo {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 400px;
  margin-right: 20px;
}

.headerLinks {
  width: 300px;
  margin-left: 20px;
}

.headerLinks a {
  list-style: none;
  margin-left: 30px;
  white-space: nowrap;
}


.headerSignin {
  border: solid 1px $accent;
  border-radius: 200px;
  margin-left: 20px;
  color: $accent !important;
  padding: 12px 25px;
  font-size: 14px;

  &:hover {
    font-weight: 300;
    color: #fff !important;
    background: $accent;
  }

  &:active {
    color: $accent;
    background-color: #ffffff;
    border-color: $accent;
  }
}


.spacer {
  flex-grow: 1;
}
