@import '~styles/variables';

.root {
  background: #1B2126;
  padding: 60px 10px;
  width: 100%;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.status {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.check {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  i {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $accent;
    margin-right: 10px;
  }
}

.mixpanel {
  margin-top: 30px;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.lists {
  display: flex;
  justify-content: flex-end;
}


h4 {
  font-weight: 400;
  font-size: 15px;
  color: #9EABAF;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.list {
  margin-left: 50px;
  margin-right: 10px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    padding-bottom: 5px;
  }

  a {
    color: #575757;
    font-size: 16px;
    font-weight: 300;

    &:hover {
      color: #fff;
    }
  }
}
