.login {
  background-color: #fafafa;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px #F4F4F4;
  border-bottom: solid 1px #F4F4F4;
}

.des {
  color: #939C9F;
  font-size: 17px;
  top: 9px;
  line-height: 27px;
  white-space: nowrap;
  font-weight: 300;
}

.create {
  border: solid 1px #40A166;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  line-height: 2.2;
  margin-left: 20px;
  color: #36ad64;
  background-color: #36ad64;
  border-color: #40A166;
}

.createtext {
  margin-top: 3%;
  color: #36ad64;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 13px;
  font-family: 'open sans';
  font-weight: 300;
  white-space: nowrap;
  color: #36ad64;
  margin-top: 3%;
}

.create a:link {
  color: #ffffff;
}

.create a:visited{
  color: #ffffff;
}

.create a:active {
  color: #36ad64;
  font-weight: 400;
}

.create:hover {
  background-color:#36ad64;
}

.create:active{
  border: solid 1px #36ad64;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  line-height: 2.2;
  margin-left: 20px;
  color: #36ad64;
  background-color: #fafafa;
  border-color: #40A166;
}

.spacer {
  flex-grow: 1;
}
