.login {
  background-color: #fafafa;
  height: 80px;
}

.des {
  float: left;
  position: relative;
  left: 382px;
  font-family: 'roboto';
  color: #939C9F;
  font-size: 17px;
  top: 9px;
  line-height: 27px;
}

.text {
  font-family: 'roboto';
  font-size: 14px;
  line-height: 11.2px;
  color: #ffffff;
  text-align: center;
}

.button {
  border: solid 1px #36ad64;
  height: 40px;
  width: 200px;
  float: right;
  position: relative;
  right: 382px;
  top: 20px;
  border-radius: 5px;
  background-color: #36ad64;
}
