@import '~styles/mixins';

.root {
  @include section;
  background-color: #ffffff;
  padding-top: 100px;
}

.imageLeft, .imageRight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  text-align: center;
}

.imageLeft {
  .image, .text {
    margin: 0 60px 0 0;
  }
}

.imageRight {
  flex-direction: row-reverse;

  .image, .text {
    margin: 0 0 0 60px;
  }
}

.image {
  width: 400px;

  img {
    width: 100%;
    height: auto;
  }
}

.text {
  width: 325px;

  h3 {
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 11px;
  }

  p {
    font-size: 17px;
    line-height: 26px;
  }
}
